@model AnnonssystemMVC.Models.Annonsorer

<h2>Ny annonsör</h2>
<br />
<label style="font-size:24px">Du kan nu skapa nya annonser med hjälp av ditt id: <b>@Html.DisplayFor(model => model.An_Id)</b></label>
<br />
<div>
    <a asp-action="ReadAnnonsor" class="btn btn-dark">Skapa annons</a>
</div>